body {
    background: rgb(246, 246, 246);
}

.navbar  {
    height: 65px;
}

.main-cont {
    margin-top: 100px;
}
.avatar {
    width: 40px;
}

.popover-body {
    text-align: center;
    padding: .5rem;
}