body {
    background: rgb(246, 246, 246);
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

.a-post {
    pointer-events: none;
}

.navbar  {
    height: 65px;
}

.main-cont {
    margin-top: 90px;
}

.avatar {
    width: 40px;
    height: 40px;
}

.popover-body {
    text-align: center;
    padding: .5rem;
}

.post {
    width: 100%;
}

.post-img {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
}

#embedded-btn {
    background: none;
    border: none;
}

*:focus {
    outline: 0 !important;
}

.post-info {
    font-size: 0.75rem;
}

.avatar-post {
    width: 30px;
    height: 30px;
    font-size: 0.7rem;
}

.comments {
    margin-bottom: 200px;
}

.create-comment {
    padding: 0.7rem 1.25rem 0rem 0.7rem;
}

.comment.card {
    padding: 0.7rem 1.25rem;
}
