body {
    background: rgb(246, 246, 246);
}

a {
    text-decoration: none !important;
}

img.web-logo {
    width: 175px;
}

.navbar  {
    height: 65px;
    border: 1px solid rgba(0,0,0,.125);
}

.main-cont {
    margin-top: 90px;
}

.avatar {
    width: 40px;
    height: 40px;
}

.popover-body {
    text-align: center;
    padding: .5rem;
}

label.custom-file-label {
    overflow: hidden;
}

.border-error {
	border: 1px solid red !important;
}

.error-msg {
	color: red;
	height: 25px;
	font-size: 0.8rem;
	align-self: start !important;
	text-align: start;
}