body {
    background: rgb(246, 246, 246);
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

.navbar  {
    height: 65px;
    border: 1px solid rgba(0,0,0,.125);
}

.main-cont {
    margin-top: 90px;
}

.avatar {
    width: 40px;
    height: 40px;
}

.popover-body {
    text-align: center;
    padding: .5rem;
}

/* .a-post {
    pointer-events: none;
} */

.post {
    width: 100%;
}

.post-img {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
}

#embedded-btn {
    background: none;
    border: none;
}

*:focus {
    outline: 0 !important;
}

.post-info {
    font-size: 0.75rem;
}

.avatar-post {
    width: 30px;
    height: 30px;
    font-size: 0.7rem;
}

button.like-btn {
    background: none;
    border: none;
}

.post-content-wrapper {
    position: relative;
}

.options-img {
    position: absolute;
    z-index: 5;
    top: -25px;
    right: -25px;
}

.options-title {
    position: absolute;
    z-index: 5;
    top: -15px;
    right: -50px;
}

.options-content {
    position: absolute;
    z-index: 5;
    right: -50px;
}

.option-btn {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.125);
    height: 50px;
    width: 50px;
}

.low-opacity {
    opacity: 60%;
}

label.custom-file-label {
    overflow: hidden;
}
