body {
    background: rgb(246, 246, 246);
}

.inside-body {
    position: relative;
}

.loading-logo img {
    width: 120px;
}

.loading-logo {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -120px;
    z-index: 5;
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

img.web-logo {
    width: 175px;
}

.navbar  {
    height: 70px;
    border: 1px solid rgba(0,0,0,.125);
}

.main-cont {
    margin-top: 120px;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.125);
}

.popover-body {
    text-align: center;
    padding: .6rem;
    font-size: 1.1rem;
}

.post {
    width: 100%;
}

.post-img {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
}

#embedded-btn {
    background: none;
    border: none;
}

*:focus {
    outline: 0 !important;
}

.post-info {
    font-size: 0.75rem;
}

.avatar-post {
    width: 35px;
    height: 35px;
    font-size: 0.7rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.125);
}

button.like-btn {
    background: none;
    border: none;
}

.post-content-wrapper {
    position: relative;
}

.options-img {
    position: absolute;
    z-index: 5;
    top: -25px;
    right: -25px;
}

.options-title {
    position: absolute;
    z-index: 5;
    top: -15px;
    right: -50px;
}

.options-content {
    position: absolute;
    z-index: 5;
    right: -50px;
}

.option-btn {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.125);
    height: 50px;
    width: 50px;
}

.low-opacity {
    opacity: 60%;
}

label.custom-file-label {
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    li.nav-item.ml-5 {
        margin-left: 0 !important;
    }

    li.nav-item {
        margin-bottom: 25px;
    }

    div#navbarSupportedContent {
        padding: 20px;
        border: 2px solid rgba(0,0,0,.125);
    }

    li.nav-item.ml-4.notification.d-flex.align-items-center {
        margin-left: 0 !important;
    }

    .navbar-brand {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .post-img {
        max-height: 30vh;
    }

    .post-title {
        font-size: 1.1rem;
    }

    .post-content {
        font-size: 0.8rem;
    }

    .options-img {
        right: -10px;
    }

    .options-title {
        right: -35px;
    }

    .options-content {
        right: -35px;
    }

    .post-author {
        font-size: 0.85rem;
    }
}
