body {
    background: rgb(246, 246, 246);
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

.navbar  {
    height: 65px;
    border: 1px solid rgba(0,0,0,.125);
}

.main-cont {
    margin-top: 90px;
}

.avatar {
    width: 40px;
    height: 40px;
}

.popover-body {
    text-align: center;
    padding: .5rem;
}

.post {
    width: 100%;
    max-height: 90vh;
}

.post-img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

#embedded-btn {
    background: none;
    border: none;
}

*:focus {
    outline: 0 !important;
}

.post-info {
    font-size: 0.75rem;
}

.avatar-post {
    width: 30px;
    height: 30px;
    font-size: 0.7rem;
}

button.like-btn {
    background: none;
    border: none;
}

.post-content {
    max-height: 20vh;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

i.like-logo {
    display: inline-block;
}

.heart-anim {
    animation: heartbeat;
    animation-duration: 0.4s;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale(0.75);
  }
  20%
  {
    transform: scale(1);
  }
  40%
  {
    transform: scale(1.25);
  }
  60%
  {
    transform: scale(1.5);
  }
  80%
  {
    transform: scale(1.25);
  }
  100%
  {
    transform: scale(1);
  }
}